*{
	margin:0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
background-image: url(bt.png);
background-size: 100vw 100vh;
background-attachment: fixed;
	
}

header{
	color: #fff;
	text-align: center;
	background-color: #3b5998;
	height: 50px;
	padding: 6px 0px;
}



ul{
	list-style-type: none;
}

a{
	color: #b63b4d;
}

/*contenedor principal*/
.accordion {
	width: 100%;
	max-width: 300px;
	margin: 20px auto 20px;
	background: #fff;
	border: 1px solid rgba(0,0,0,0.9);
	-webkit-border-radius:4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
}

.accordion .link{
	cursor: pointer;
	display:block;
	padding:15px 15px 15px 42px;
	color: #4d4d4d;
	font-size: 14px;
	border-bottom: 1px solid #ccc;
	position: relative;
	font-weight: 700;	
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition:all 0.4s ease;  
}

.accordion li:last-child .link{
	border-bottom: 0;
}

.accordion li i{
	position: absolute;
	top:16px;
	left: 12px;
	font-size: 18px;
	color:#595959;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition:all 0.4s ease; 
}

.accordion li i.fa-chevron-down{
	right:12px;
	left:auto;
	font-size: 16px;

}

.accordion li.open .link{
	color:#b63b4d;
}

.accordion li.open .link{
	color:#b63b4d;	
}

.accordion li.open i.fa-chevron-down{
	-webkit-transform:rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform:rotate(180deg);
	transform: rotate(180deg);
}

/*submenu*/

.submenu{
	display: none;
	background:#444359; 
	font-size: 14px;
}

.submenu li{
	border-bottom: 1px solid #4b4a5e;
}

.submenu a{
	display:block;
	text-decoration: none;
	color: #d9d9d9;
	padding:12px;
	padding-left: 42px;
	-webkit-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition:all 0.25s ease;
}

.submenu a:hover{
	background: #b63b4d;
	color:#fff;
}


