body{
	background-image: url(bt.png);
	background-size: 100vw 100vh;	
	background-attachment: fixed;
	font-family: 'Noto Serif', serif;
}

.opcionesExamen{
	padding: 25px;
	margin: 0 auto;
	width: 60%;
	background: rgb(243,243,243);
	border-radius: 5px;
	margin-top: 70px;
	border: 1px solid #000;
	text-align: center;
}

.saltoLinea{
	display:none;
}

.nada{
	
}

h1{
	margin-bottom: 20px;
	font-size: 21px;
	border-bottom: 1px solid #000;
	padding-bottom: 15px;
	text-align: center;
	color: #3b5998;
	font-weight: bold;
}

h2{
	margin-bottom: 5px;
	font-size: 19px;
	padding-bottom: 10px;
	text-align: center;
	color: #3b5998;
	font-weight: bold;
}

button{
	padding: 8px 16px;
	background: #3b5998;
	border: 0;
	display: block;
	color: white;
	border-radius: 6px;
	cursor: pointer;
	font-family: 'Noto Serif', serif;
}

button:hover{
	transform: scale(0.95);
}

#sortable { 
	list-style-type: none; 
	margin: 0; 
	padding: 0;
	width: 40%;
 }
  
#sortable li { 
	margin: 0 3px 3px 3px; 
	padding: 0.4em; 
	 
	font-size: 1.4em; 
	height: 18px; 
}
 
#sortable li span {
  position: absolute; 
  margin-left: -1.3em;
}




@media(max-width: 320px){
	.saltoLinea{
		display:block;
	}

	#cajaTexto{
		width: 100%;
	}

	#sortable li { 
		font-size: 0.8em; 
		width: 100%;
	}

}



@media(max-width: 414px){
	
	#cajaTexto{
		width: 100%;
	}

	#sortable li { 
		font-size: 0.8em; 
		width: 100%;
	}

}

@media(min-width: 568px) and (max-width:1024px) {
.saltoLinea{
		display:block;
	}

	#sortable li { 
		font-size: 1.4em; 
		width: 100%;
	}
}